html {
    background-color: rgb(35, 35, 35);
}
.navbar-right {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;    
}

header {
    background-color: black;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    color: rgb(35, 35, 35);
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
}

li > a {
    margin: 5px;
    color: white;
}