html {
    background-color: rgb(35, 35, 35);
}

nav>div {
    float: right;
}

header {
    background-color: black;
}

.navbar-right {
    margin-right: 40px;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    color: rgb(110, 105, 105);
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
}

li>a {
    margin: 5px;
    color: white;
    font-family: 'Mukta', sans-serif;
}

li>a:hover {
    color: white;
}

nav>a:hover {
    color: rgb(35, 35, 35);
}

navbar-toggler-icon {
    color: white;
}

.btn {
    letter-spacing: 0;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s;
    transition-delay: 0.12s;
}

@media (hover:hover) {
    .btn:hover {
        letter-spacing: 5px;
    }
}